<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoUpdater_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="DownloadPath" value="UpdateFiles" />
    <!--add key="UpdateServerUrl" value="http://127.0.0.1/AutoUpdateService/UpdateServer.asmx"/-->
    <add key="UpdateServerUrl" value="http://soft.kivend.net/soft/vmsoft_checkupdate" />
    <!--更新时每次读取的包的大小，单位是KB，一般来说网络状况越好这个值可以设置得越大，但一般不超过10-->
    <add key="PackageSize" value="2" />
    <!--使用的sqlite数据库的文件名，一般不需要修改-->
    <add key="DBFileName" value="DB/TermInfo.db" />
    <!--售货机客户端主程序的标识名称-->
    <add key="IVendProcessName" value="iVend" />
    <!--是否开启自动更新功能，0表示不开启，1表示开启-->
    <add key="IsAutoUpdateActivated" value="1" />
    <!--检查是否有更新的时间周期，语法规则如下：-->
    <!--总共有五个标识符，分别表示分钟 小时 天 月 星期几，允许输入*或者数字，*表示任意时间-->
    <!--例1：30 17 * * * 表示每天的17:30运行-->
    <!--例2：30 17 1 * * 表示每个月第一天的17:30运行-->
    <!--例3：30 17 * * 1 表示每个星期1的17:30运行，0到6表示星期天和星期6-->
    <add key="CheckUpdateCircle" value="46 13 * * *" />
    <!--检查自动更新的时间范围，单位为分钟-->
    <!--意思是当时间满足IsAutoUpdateActivated设定的条件之后，会取一个范围从1到这个值之间的随机数-->
    <!--比如说设定的更新时间是17:30，随机数是2，那么具体的更新时间就是17:32-->
    <add key="CheckUpdateInterval" value="2" />
    <!--更新完成后运行的程序-->
    <!--<add key="MainApp" value="cmd.exe"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <AutoUpdater_Client.Properties.Settings>
      <setting name="AutoUpdater_Client_UpdateServices_UpdateServer" serializeAs="String">
        <value>http://localhost:50196/UpdateServer.asmx</value>
      </setting>
    </AutoUpdater_Client.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>